<!-- type here to filter -->
<div class="form-group">
  <label for="filter"></label>
  {{input value=theFilter type='text' classNames='form-control' placeholder='Begin typing to filter'}}
</div>
<!-- Data table with sortable columns (click on a column to sort or toggle ascending/descending) -->
	<div class="alert alert-info">
  	<strong>Information</strong> To sort columns, click on the column header.  To reverse the sorting order, click again to toggle.
	</div>
<div class='table-responsive '>
<table class='table table-striped'>
	<thead>
		<tr>
			<th  {{action 'sortColumn' 'submissionDate'}}>Submission date
				{{#if (eq sortProperty 'submissionDate')}}
					<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top' }}"></span>
				{{/if}}
			</th>
			<th {{action 'sortColumn' 'customerName'}}>Customer
				{{#if (eq sortProperty 'customerName')}}
							<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top'}}"></span>
				{{/if}}
			</th>
			<th {{action 'sortColumn' 'customerEmail'}}>Customer Email
				{{#if (eq sortProperty 'customerEmail')}}
					<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top'}}"></span>
				{{/if}}
			</th>
			<th {{action 'sortColumn' 'description'}}>Description
				{{#if (eq sortProperty 'description')}}
					<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top'}}"></span>
				{{/if}}
			</th>
			<th {{action 'sortColumn' 'status'}}>Status
				{{#if (eq sortProperty 'status')}}
					<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top'}}"></span>
				{{/if}}
			</th>
			<th {{action 'sortColumn' 'closeDate'}}>Closed date
				{{#if (eq sortProperty 'closeDate')}}
					<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top'}}"></span>
				{{/if}}
			</th>
			<th {{action 'sortColumn' 'employeeName'}}>Employee
				{{#if (eq sortProperty 'employeeName')}}
						<span class="glyphicon glyphicon-triangle-{{if sortAscending 'bottom' 'top'}}"></span>
					{{/if}}
				</th>
			</tr>
		</thead>
	<tbody>

	{{#each sortedRows as |issue|}}

		<tr>
			<td>{{issue.submissionDate}}</td>
			<td>{{issue.customerName}}</td>
			<td>{{issue.customerEmail}}</td>
			<td>{{issue.description}}</td>
			<td>{{issue.status}}</td>
			<td>{{issue.closeDate}}</td>
			<td>{{issue.employeeName}}</td>
		</tr>

		{{/each}}

		</tbody>
	</table>
</div>

{{yield}}
